html {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  overscroll-behavior-y: none;
}

p,
span,
a {
  word-break: keep-all;
}

a,
a:link,
a:visited,
a:active,
a:link:active,
a:visited:active {
  text-decoration: none;
  color: inherit;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

ul {
  list-style-type: none;
}
