.bold {
  font-weight: 500;
}

.bolder {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.spacer {
  display: block;
  height: 4rem;
}

.bg-secondary {
  background-color: var(--clr-bg-secondary);
}

.bg-gray-light {
  background-color: var(--clr-bg-gray-light);
}

.no-scroll {
  overflow: hidden;
}
